<h1>Sign Up</h1>

<%= form_tag sign_up_emails_path do %>
  <% if @email_confirmation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email_confirmation.errors.count, "error") %>:</h2>
      <ul>
      <% @email_confirmation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    Email:<br />
    <%= text_field_tag :email %>
  </p>
  <%= submit_tag "Submit" %>
<% end %>
