<h1>Sign In</h1>

<%= form_tag main_app.root_path do %>
  <%= render 'rails_authentication_engine/shared/errors', errors: @user.errors %>
  <p>
    Email:<br />
    <%= text_field_tag :email %>
  </p>
  <p>
    Password:<br />
    <%= text_field_tag :password %>
  </p>
  <%= submit_tag "Submit" %>
<% end %>
