<!DOCTYPE html>
<html>
<head>
  <title>RailsAuthenticationEngine</title>
  <%= stylesheet_link_tag    "rails_authentication_engine/application", media: "all" %>
  <%= javascript_include_tag "rails_authentication_engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:danger] %>
    <%= sanitize(flash[:danger]) %>
  <% end %>
  <% if flash[:info] %>
    <%= sanitize(flash[:info]) %>
  <% end %>
  <% if flash[:success] %>
    <%= sanitize(flash[:success]) %>
  <% end %>
  <% if flash[:warning] %>
    <%= sanitize(flash[:warning]) %>
  <% end %>
  <%= yield %>
</body>
</html>
